-- Migration: 172_amc_enhancements.sql
-- Description: Adds detailed tracking fields for AMCs and links them to warranty claims

ALTER TABLE amcs
  ADD COLUMN IF NOT EXISTS visit_frequency VARCHAR(50) DEFAULT 'quarterly',
  ADD COLUMN IF NOT EXISTS covered_products JSONB DEFAULT '[]',
  ADD COLUMN IF NOT EXISTS exclusions TEXT,
  ADD COLUMN IF NOT EXISTS renewal_date DATE,
  ADD COLUMN IF NOT EXISTS payment_schedule TEXT,
  ALTER COLUMN auto_renewal_alert_days SET DEFAULT 90;

ALTER TABLE warranty_claims
  ADD COLUMN IF NOT EXISTS amc_id UUID REFERENCES amcs(id) ON DELETE SET NULL;

CREATE INDEX IF NOT EXISTS idx_warranty_claims_amc ON warranty_claims(amc_id);

